<br>
<form class="blogForm">
<textarea class="blogTitle" rows="1">Title</textarea>
<br>
<textarea class="blogContent" rows="3">Blog</textarea>
<br>
<button type="submit" class="blogBtn btn btn-primary">Post</button>
</form>



<script src="/js/blog.js"
