<h1> Welcome to Tech Blog </h1>
<div>
{{#each blogs as |blog|}}
<div>
    <div>
   Title: {{blog.title}}
    </div>
   <div>
   Post:{{blog.content}}
   </div>
<div>
    Date: {{blog.date_created}}
</div>
    <br>

   
</div>

{{/each}}

</div>